// Here you can add other styles
/* CustomTable.css */
.custom-table {
  --rft-main-color: #3C4B64;
  --rft-button-color: #596f94;
}
.custom-table thead th:hover {
  background-color: #303C50;
}

.custom-table tr:nth-child(even):hover {
  color: #818895;
}

.custom-table td:last-child svg {
  margin-right: 12px; /* Adjust the margin as needed */}

.custom-table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  vertical-align: top;
}

.custom-table td:last-child {
  text-align: top;
}

.button {
  display: flex;
  justify-content: flex-end;
}


//search container

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.custom-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-size: 14px;
  margin-right: 10px;
}

.create-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #586f94;
  color: #fff;
  font-size: 14px;
}

.create-button:hover {
  background-color: #303c50;

}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.display {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3rem;
}


// for Form Validation
.input-error{
  border-color: #fc8181;
}
select.input-error{
  border-color: #fc8181;
}
.formik-errors {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.server-error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

